@import "./bootcss/bootstrap.css";


body{
  margin: 0px;
  background-color: #c7cacf;
}
.upperdiv{
  border: 0px;
  margin-top: 0px;
  background-color: #112D4E;
  size: 10px;
}
h1{
  background-color: #112D4E;
  padding: 30px;
  margin-top: 0px;
  border-top: 0px;
  color: #F9F7F7;
  text-align: center;
}

.homepar{
  margin-top: 50px;
  text-align: center;
}

.mynav{
  background-color: #7FC37E;
}

.navfont{
  font-size: 20px;
  color: #F9F7F7;
}

.homebutton{
  background-color: #7FC37E;
  border-color: #7FC37E;
}
.homebutton:hover{
  background-color: #63a162;
  border-color: #63a162;
}
.homebutton:active{
  background-color: #94c993;
  border-color: #94c993;
}


.centered{
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}