body{
  margin: 0px;
  background-color: #c7cacf;
}
.upperdiv{
  border: 0px;
  margin-top: 0px;
  background-color: #112D4E;
  size: 10px;
}
h1{
  background-color: #112D4E;
  padding: 30px;
  margin-top: 0px;
  border-top: 0px;
  color: #F9F7F7;
  text-align: center;
}

.homepar{
  margin-top: 50px;
  text-align: center;
}

.mycontainer{
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.centered{
margin: auto;
width: 100%;
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
}
.btn-centered{
  margin: auto;
  display: flex;
}

.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
  flex-direction: row;
}

.justify-center{
  justify-content: center;
}

.text-center{
  text-align: center;
}

.qcontainer{
  margin-top: 5vh;
  margin-bottom: 5vh;
  border: solid;
  border-color: #0f420e;
}

.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #7FC37E;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#skip,
#result{
  display: none;
}

#results{
  font-size:xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.display-flex{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
